
__pycache__/


*.csv
*.pkl
*.png
*.txt
*.json

!images_readme/*.png
!__init__.py
!Section_2/Models_pkl_by_Jun/origin/*.pkl
!Section_2/Models_pkl_by_Jun/syn_bn/*.pkl
!Section_2/Models_pkl_by_Jun/syn_bn-origin/*.pkl